<div style="width: 100%; height: 5%">
	<%= link_to "Yandex", :controller => "pages", :action => "yandex" %> | 
	<%=	link_to "Google", :controller => "pages", :action => "google" %>
</div>
<div id="map_canvas" style="width:100%; height:95%">
</div>	
<div id="dialog-modal" title="Информация о пользователе">
	e-mail <input type="text"><br/>
	Описание <input type="text"><br/>
	<input type="button" id="Send" value="send" align="center"/>
	<input type="button" id="Cancle" value="cancle" align="center"/>
</div>


