<div style="width: 100%; height: 5%">
	<%= link_to "Yandex", :controller => "pages", :action => "yandex" %> | 
	<%=	link_to "Google", :controller => "pages", :action => "google" %>
</div>
<div id="YMapsID" style="width:100%; height:95%">
